.page-header {
    align-content: center;
    font-size: 28px;
    font-weight: 600;
}

.ant-checkbox-wrapper {
    padding-bottom: 10px;
    font-size: 20px;
}

.submit-btn {
    font-size: 20px;
    line-height: 20px;
}

.ant-checkbox-group-item {
    display: block;
    margin-left: 0px;
    text-align: left;
}